<div class="se-pre-con"></div>

<div class="row">
 <div class="col s3">
    <div class="mobilefriendlytext"><span><a href='/news'><i class="material-icons">library_books</i> Latest News</a></span></div>
</div>
<div class="col s3">
    <div class="mobilefriendlytext"><span><a href='/top10'><i class="material-icons">list</i> Top 10 List by Volume</a></span></div>
</div>
<div class="col s3">
    <div class="mobilefriendlytext"><span><a href='/topmarket'><i class="material-icons">list</i> Top 10 List by Market Cap</a></span></div>
    </div>
<div class="col s3">
    <div class="mobilefriendlytext"><span><a href='profile/edit/<%= currentUser.id %>'><i class="material-icons">add_alarm</i> Alarms</a></span></div>
</div>
</div>

<div class="row">
    <div class="col s8">
        <form action='/main/result' method='POST'>
            <div class="input-field" id="searchbaronmain">
                <input id="search" class="z-depth-3 white-text" type="search" name='search' placeholder='Search Me' autocomplete="off" required>
                <label class="label-icon " for="search"></label>
                <i class="material-icons magnifying white-text text-darken-2">search</i>
            </div>
    </div>
            <div class='col s4'>
                <button class="btn waves-effect waves-light z-depth-3" type="submit" name="action">Submit</button>
            </div>
        </form>  
</div>

<hr/>

       
<div class='col s12 m4 l4 profile'>
    <div class="mobilefriendlytext"><%= currentUser.firstname %>'s Watchlist: </div>
    <% favcoin.forEach(function(favcoin) { %>                
        <ul class="collection z-depth-5">
            <li class="collection-item avatar cardcolor z-depth-5">
                <img src='https://www.cryptocompare.com<%= favcoin.ImageUrl %>' alt="" class="circle">
                <span class="title"><%= favcoin.CoinName %></span>
                <form method="GET" action="/main/watchlist/<%= favcoin.Symbol %>">
                    <p><span><a name="coindetail" type="submit" href='main/watchlist/<%= favcoin.Symbol %>'>Details</a></span><br>
                </form>
                    Stretch Goals
                    </p>
                    
                <form method="POST" action="/main/?_method=DELETE">
                    <input name="name" type="hidden" value="<%= favcoin.Symbol %>">
                    <button class="secondary-content cardcolor" type="submit" ><i class="material-icons">check_circle</i></button>
                </form>
            </li>
        </ul>
    <% }); %>
</div>









