<div class='row center'>
        <div class='col s12 m8 l6 offset-m2 offset-l3 center'>
            <h5 class='greeting form-background center z-depth-5'><%= currentUser.firstname %></h5>
        </div>
    </div>
    
    
    <div class='row'>
        
        <div class='col s12 m5 l5 profile z-depth-5'>
            <img class='currentUserImage' src='<%= currentUser.image %>' alt='broken link'>
            <h4>Your Information: </h4><span><a href='profile/edit/<%= currentUser.id %>'>Edit Profile</a></span>
            <p><span>Name: </span> <%= currentUser.firstname %></p>
            <p><span>Bio: </span> <%= currentUser.bio %></p>
            <p><span>Email: </span> <%= currentUser.email %></p>
        </div>
        <div class='col m2 l2'>
        </div>
        <div class='col s12 m5 l5 profile z-depth-5'>
            <h4>Dashboard: </h4>
            <div class='faves'>
                <div class="col s12 m12 l12 center">
                        <a class="dashboard" method="POST" href="coinlist/refresh">Refresh Data Base <i class="tiny fave-page material-icons">info</i></a>
                        <span class="dashboard" action="/home">home <i class="tiny fave-page material-icons">cancel</i></span>
                  
                </div>
            </div>
        </div>
    </div>
    