<div class="se-pre-con"></div>
<div class='row'>
    <ul class="collection z-depth-5">
        <li class="collection-item avatar cardcolor z-depth-5">
            <img src='https://www.cryptocompare.com<%= resultCoin.USD.IMAGEURL %>' alt="" class="circle">
            <span class="title"><%= resultCoin.USD.FROMSYMBOL %></span>
            <p>Price:  <span Class="coindetails"><%= resultCoin.USD.PRICE %> </span> <br>
              24hr Change:  <span Class="coindetails"><%= resultCoin.USD.CHANGE24HOUR %></span>   |   <span Class="coindetails"> <%= resultCoin.USD.CHANGEPCT24HOUR %></span>%                       
              </p>
            <form method="POST" action="/main/favorite">
                <input name="Symbol" type="hidden" value="<%= resultCoin.USD.FROMSYMBOL %>">
                <button class="secondary-content cardcolor" type="submit" ><i class="material-icons">add</i></button>
            </form>
        </li>
    </ul>
</div>
