<div class="se-pre-con"></div>
<div class="row">
    <div class="col s3">
        <div class="mobilefriendlytext"><span><a href='/main'><i class="material-icons">arrow_back</i> Back</a></span></div>
    </div>
</div>

<div class='row'>
        <div class='col s12 m6 l6'> 
                <h4>Toplist by Market Cap</h4>  
                <% top10market.forEach(function(top10market) { %>   
                    <ul class="collection z-depth-5">
                        <li class="collection-item avatar cardcolor z-depth-5">
                            <img src='https://www.cryptocompare.com<%= top10market.CoinInfo.ImageUrl %>' alt="" class="circle">
                            <span class="title"><%= top10market.CoinInfo.FullName %></span>
                                <p>Price:  <span Class="coindetails"><%= top10market.DISPLAY.USD.PRICE %> </span> <br>
                                24hr Change:  <span Class="coindetails"><%= top10market.DISPLAY.USD.CHANGE24HOUR %></span>   |   <span Class="coindetails"> <%= top10market.DISPLAY.USD.CHANGEPCT24HOUR %></span>%                       
                                </p>
                            <form method="POST" action="/main/favorite">
                                <input name="Symbol" type="hidden" value="<%= top10market.RAW.USD.FROMSYMBOL %>">
                                <button class="secondary-content cardcolor" type="submit" ><i class="material-icons">add</i></button>
                            </form>
                        </li>
                    </ul>
                <% }); %>
         </div>
</div>